@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
}

.post-img {
  flex: 2;
}

.post-content {
  flex: 3;
}

.single-content {
  flex: 5;
}

.single-menu {
  flex: 2;
}

.write {
  background: rgb(16, 202, 202);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 1px solid white;
}

.write:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}

/* WRITE */
.add {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.add .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .add .content input {
  padding: 10px;
  border: 1px solid lightgray;
} */

.add .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  padding: 10px;
  border: 1px solid lightgray;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}

.item h1 {
  font-size: 20px;
}

.item label {
  text-decoration: underline;
  cursor: pointer;
}
.cat {
  display: flex;
  align-items: center;
  gap: 2px;
  color: teal;
}
